@import '/styles/variables.module.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index-header;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - (#{$gutter} * 2));
  padding: $gutter;
  background: rgba(0,0,0,.85);

  @media (min-width: 769px) {
    justify-content: space-between;
  }
}

.tagline {
  display: none;
  
  @media (min-width: 769px) {
    display: block;
  }
} 