/* No CSS here ! Only Variables... */

$black: #000 !default;
$white: #fff !default;
$primary: #E50914 !default;

$base-font-size: 14px !default;

$gutter: 15px !default;

$z-index-header: 1 !default;